html {
    height: 100vh;

    [id=react-entry-point] {
        margin : 10px 5px 5px 5px;
        height: 95%;
    }
    
    [id=tabs-selection] {
        margin : 10px 0px;
    }
    
    [id=tabs-content] {

        .home {
            height: 90vh;
            font-family: Arial;

            h1 {
                position: absolute;
                top: 30%;
                left: 20%;
                font-weight: bold;
                font-size: 7vh;
            }

            h2 {
                position: absolute;
                top: 40%;
                left: 35%;
                font-size: 3vh;
            }

            h3 {
                position: absolute;
                top: 45%;
                left: 70%;
                font-size: 2vh;
                font-style: italic;
            }

            p {
                position: absolute;
                top: 55%;
                left: 50%;
                font-size: 1.2vh;
            }
        }
        
        .country-row1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 10px;

            [id=country-pie] {
                margin: 10px;
                height: 45vh;
                width: 40vw;
            }

            [id=country-map] {
                margin: 10px;
                height: 40vh;
                width: 40vw;
            }

            [id=country-other] {
                margin: 10px;
                height: 30vh;
                width: 95vw;
            }
        }

        .users-row2 {

            [id=tabs-counts-selection-parent] {
                margin: 40px 10px;
            }

            [id=users-unique-IP] {
                margin: 10px;
                height: 60vh;
                width: 80vw;
            }

            [id=users-uuid] {
                margin: 10px;
                height: 60vh;
                width: 80vw;
            }

            [id=users-active-IP] {
                margin: 10px;
                height: 60vh;
                width: 80vw;
            }

            [id=users-session] {
                margin: 10px;
                height: 60vh;
                width: 80vw;
            }
        }

        .version-os-row1 {
            [id=tabs-versions-selection-parent] {
                margin: 40px 10px;
            }

            [id=tabs-versions-content] {
                display: flex;
                flex-wrap: wrap;
                width: 80vw;
                
                [id=version-pie] {
                    margin: 10px;
                    padding: 20px 0px;
                    height: 40vh;
                    width: 35vw;
                }
    
                [id=os-pie] {
                    margin: 10px;
                    padding: 20px 0px;
                    height: 40vh;
                    width: 35vw;
                }

                [id=os_detail-pie] {
                    margin: 10px;
                    height: 70vh;
                    width: 70vw;
                }
            }
        }

        .file-row1 {
            [id=tabs-files-selection-parent] {
                margin: 40px 10px;
            }

            [id=tabs-files-content] {
                display: flex;
                flex-wrap: wrap;
                width: 80vw;
                
                [id=file-type-pie] {
                    margin: 10px;
                    height: 40vh;
                    width: 35vw;
                }
    
                [id=file-size-pie] {
                    margin: 10px;
                    height: 40vh;
                    width: 35vw;
                }

                [id=file-size-bar] {
                    margin: 10px;
                    height: 30vh;
                    width: 75vw;
                }

                [id=file-shape] {
                    margin: 10px;
                    height: 65vh;
                    width: 75vw;
                }

                [id=action-bar] {
                    margin: 10px;
                    height: 40vh;
                    width: 80vw;
                }
            }
        }

    }
    
    .form-check {
        padding: 1px;
    }
    
    .row {
        margin: 10px;
    }
    
    [id=tabs=content] {
        height: 80%;
    }
}

/* Normalize button padding between COSMO and CYBORG themes to prevent layout shift */
.btn {
    padding: .375rem .75rem !important;
}

/* Make outline-secondary buttons more visible in dark mode */
.dark-mode .btn-outline-secondary {
    color: #adb5bd !important;
    border-color: #adb5bd !important;
}

.dark-mode .btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #adb5bd !important;
}

.dark-mode .btn-outline-secondary.active,
.dark-mode .btn-outline-secondary:active {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #adb5bd !important;
}

/* Dark mode for dcc.Tabs */
.dark-mode .tab-container {
    background-color: #060606 !important;
    border-bottom-color: #444 !important;
}

.dark-mode .tab {
    background-color: #1a1a1a !important;
    color: #888 !important;
    border-color: #444 !important;
    border-top: 3px solid transparent !important;
}

.dark-mode .tab:hover {
    background-color: #2a2a2a !important;
    color: #ccc !important;
}

.dark-mode .tab--selected {
    background-color: #060606 !important;
    color: #fff !important;
    border-top: 3px solid #2196F3 !important;
    border-left-color: #444 !important;
    border-right-color: #444 !important;
    border-bottom-color: #060606 !important;
}

.dark-mode .tab-content {
    background-color: #060606 !important;
}

/* Vertical tabs (used in Users, Versions, Files tabs) */
.dark-mode .tab--vert {
    background-color: #1a1a1a !important;
    color: #888 !important;
    border-color: #444 !important;
}

.dark-mode .tab--vert:hover {
    background-color: #2a2a2a !important;
    color: #ccc !important;
}

.dark-mode .tab--vert.tab--selected {
    background-color: #060606 !important;
    color: #fff !important;
    border-left: 3px solid #2196F3 !important;
    border-right-color: #060606 !important;
}

/* Dark mode for dcc.DatePickerRange (react-dates) */
.dark-mode .DateRangePicker,
.dark-mode .DateRangePickerInput,
.dark-mode .DateRangePickerInput__withBorder,
.dark-mode .DateInput {
    background-color: #1a1a1a !important;
    border-color: #444 !important;
}

.dark-mode .DateInput_input {
    background-color: #1a1a1a !important;
    color: #fff !important;
    border-bottom-color: #444 !important;
}

.dark-mode .DateInput_input__focused {
    border-bottom-color: #2196F3 !important;
}

.dark-mode .DateRangePickerInput_arrow_svg {
    fill: #aaa !important;
}

/* Dark mode for number input fields (font size controls in Users tab) */
.dark-mode input.dash-input {
    background-color: #1a1a1a !important;
    color: #fff !important;
    border-color: #444 !important;
}
